Web/Connected Services/ServiceReference1/Service1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:52851/Service1.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/ST2_Service" />
  <xs:element name="incrementDonation">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="funds" type="xs:decimal" />
        <xs:element minOccurs="0" name="ids" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="incrementDonationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="incrementDonationResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="addDonation">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/ST2_Service" minOccurs="0" name="newClient" nillable="true" type="q1:Donation" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="addDonationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="addDonationResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="checkIfdonated">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="email" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="ID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="checkIfdonatedResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/ST2_Service" minOccurs="0" name="checkIfdonatedResult" nillable="true" type="q2:Donation" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getCauses">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getCausesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/ST2_Service" minOccurs="0" name="getCausesResult" nillable="true" type="q3:ArrayOfCause" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getTotalDonation">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getTotalDonationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="getTotalDonationResult" type="xs:decimal" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="registerVolunteer">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="surname" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="email" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="registerVolunteerResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="registerVolunteerResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="checkIfVolonteerExist">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="email" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="checkIfVolonteerExistResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="checkIfVolonteerExistResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getSingleItem">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getSingleItemResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/ST2_Service" minOccurs="0" name="getSingleItemResult" nillable="true" type="q4:Cause" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>