Web/Connected Services/ServiceReference1/Service12.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/ST2_Service" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/ST2_Service" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Donation">
    <xs:sequence>
      <xs:element minOccurs="0" name="DonationAmout" type="xs:decimal" />
      <xs:element minOccurs="0" name="DonerEmail" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DonerName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="SelectedCauseId" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Donation" nillable="true" type="tns:Donation" />
  <xs:complexType name="ArrayOfCause">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Cause" nillable="true" type="tns:Cause" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCause" nillable="true" type="tns:ArrayOfCause" />
  <xs:complexType name="Cause">
    <xs:sequence>
      <xs:element minOccurs="0" name="CauseDescription" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CauseImg" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CauseName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CauseRequiredMoney" type="xs:decimal" />
      <xs:element minOccurs="0" name="CuaseDonations" type="xs:decimal" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Cause" nillable="true" type="tns:Cause" />
</xs:schema>